.profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    transition: opacity .4s;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}