.elements__like-button {
    background: transparent;
    transition: opacity .4s;
    border: none;
    transition: opacity .4s;
    cursor: pointer;
}

.elements__like-button:hover {
    opacity: 0.6;
    
}